* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    color: blue;
    text-align: right;
}

h1 {
    color: aqua;
}

h2 {
    color: fuchsia;
}

h3 {
    color: red;
}

h4 {
    color: green;
}

h5 {
    color: grey
}

h6 {
    color: orange
}

#sfondo {
    background-color: navy;
}

.large {
    font-size: 30px;
}

.center {
    text-align: center;
}

.blue {
    color: blue;
}

.weight {
    font-weight: bold;
}

h1,h2,h3 {
    background-color: green;
}

a:hover {
    background-color: red;
}