

h1 {
    color: aqua;
}

h3 {
    color: red;
}

h4 {
    color: green;
}

h5 {
    color: grey
}

h6 {
    color: orange
}

ul {
    padding-left: 30px;
}

#sfondo {
    background-color: navy;
}

.large {
    font-size: 30px;
}

.center {
    text-align: center;
}

.blue {
    color: blue;
}

.weight {
    font-weight: bold;
}

a:hover {
    background-color: red;
}

#li5::first-line {
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
}

#li5::first-letter {
    color: red;
    font-size: xx-large;
    font-variant: small-caps;
}

#para {
    color: green;
} 

.test {
    color: orange;
}

#paralorem {
    color: rgb(255, 0, 0);
}

#paralorem2 {
    color: #58dbad;
}

#paralorem3 {
    color: rgba(255, 0, 0, 0.7);
}

#marco {
    color: cyan;
}

header {
    background-color: black;
    padding: 20px 0;
}

header nav {
    display: flex;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}

header nav ul {
    display: flex;
    list-style: none;
    margin-left: auto;
    gap: 30px;
    padding-left: 0;
}

header nav a {
    color: white;
    text-transform: uppercase;
}

#div {
    padding: 25px;
    margin: 15px;
    border: 10px solid green;
}

#para1 {
    color: green;
}

.test1 {
    color: red;
}

p {
    color: blue;
}