

h1 {
    color: aqua;
}

h3 {
    color: red;
}

h4 {
    color: green;
}

h5 {
    color: grey
}

h6 {
    color: orange
}

ul {
    padding-left: 30px;
}

#sfondo {
    background-color: navy;
}

.large {
    font-size: 30px;
}

.center {
    text-align: center;
}

.blue {
    color: blue;
}

.weight {
    font-weight: bold;
}

a:hover {
    background-color: red;
}

#li5::first-line {
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
}

#li5::first-letter {
    color: red;
    font-size: xx-large;
    font-variant: small-caps;
}

#para {
    color: green;
} 

.test {
    color: orange;
}

#paralorem {
    color: rgb(255, 0, 0);
}

#paralorem2 {
    color: #58dbad;
}

#paralorem3 {
    color: rgba(255, 0, 0, 0.7);
}

#marco {
    color: cyan;
}

header {
    background-color: black;
    padding: 20px 0;
}

header nav {
    display: flex;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}

header nav ul {
    display: flex;
    list-style: none;
    margin-left: auto;
    gap: 30px;
    padding-left: 0;
}

header nav a {
    color: white;
    text-transform: uppercase;
}

#div {
    padding: 25px;
    margin: 15px;
    border: 10px solid green;
}

#para1 {
    color: green;
}

.test1 {
    color: red;
}

p {
    color: blue;
}

#lista_orizzontal li {
    display: inline-block;
}

#para2 span {
    border: 1px solid blue;
    background-color: green;
    height: 70px;
    width: 200px;
}

#para2 span:first-child {
    display: block;
    display: none;
}

#para2 span:nth-child(2) {
    display: inline-block
}

#para2 span:nth-child(3) {
    display: inline
}

.image img {
    float: right;
}

#parag {
    clear: right;
}

.colonna {
    float: left;
    width: 25%;
    border-left: 5px solid red ;
    border-right: 5px solid red ; 
    padding: 25px;
}

.colonne {
    width: 100%;
    display: table;
    clear: both;
}

.fixed {
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px;
    border: 3px solid red;
}

#prova_sticky {
    padding-bottom: 1500px;
}

#bottom {
    position: static;
    bottom: 0;
}

#quadrato {
    position: absolute;
    right: 0;
    border: 3px solid purple;
    width: 150px;
    height: 150px;
}

.card {
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 25%;
}

.card:hover {
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);
}

.info h3, p {
    color: black;
    padding: 2px 8px;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
    right: 0;
    top: 0;
    width: 70px;
    height: 35px;
    font-size: 40px;
}

.quadrato_perc {
    width: 20%;
    padding-bottom: 20%;
    background-color: blue;
}

.quadrato_pix {
    width: 400px;
    height: 400px;
    background-color: red;
}

.rem {
    font-size: 7rem;
}

.em {
    font-size: 7em;
}